* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #D7D9A3, #5DA6A6, #CACEB5);
    background-size: 400% 400%;
    animation: body 25s infinite ease-in-out;
    color: rgb(56, 56, 56);
    font-family: 'Poppins', sans-serif;
}

@keyframes body {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    1000% {
        background-position: 0 50%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container h1 {
    font-size: 72px;
    letter-spacing: 5px;
}

.container h2 {
    font-size: 42px;
    font-weight: 400;
}

.container a {
    color: #f3f4f2;
    text-decoration: none;
    background-color: #16425b;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 30px;
}

.container a:hover {
    background-color: #3c6d8a;
}
