* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #D7D9A3, #5DA6A6, #CACEB5);
    background-size: 400% 400%;
    animation: body 25s infinite ease-in-out;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: rgb(56, 56, 56);
}

@keyframes body {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.form_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.form {
    background-color: rgba(250, 250, 250, 0.8);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 20px 50px;
    border-radius: 5px;
}

.form_title {
    text-align: center;
    font-size: 28px;
    padding: 0 0 20px 0;
}

.text_form {
    margin: 10px 0 6px 0;
    line-height: 1;
}

.input_form {
    font-family: 'Poppins', sans-serif;
    margin: 0 0 10px 0;
    padding: 6px 6px;
    width: 250px;
    font-size: 14px;
    line-height: 18px;
    border: 0px;
    border-radius: 5px;
    outline: none;
}

.invalid_field {
    color: #E44D44;
    font-size: 14px;
    margin: 0 0 10px 0;
    max-width: 250px;
    font-weight: 400;
}

.form input[type="submit"] {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 36px;
    background-color: #A1C484;
    border: 0px;
    cursor: pointer;
    margin: 10px 0 0 0;
    border-radius: 5px;
}

.form input[type="submit"]:hover {
    background-color: #88ac6b;
}

.role {
    margin: 5px 0;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
}

.role input[type="checkbox"] {
    cursor: pointer;
    margin: 0 5px 0 0;
    width: 15px;
    height: 15px;
}

.role input[type="checkbox"]:checked {
    accent-color: #A1C484;
}

.message {
    padding: 16px 0 0 0;
    text-align: center;
    font-size: 14px;
}

.message a {
    color: #A1C484;
    text-decoration: none;
    font-weight: 400;
}

.message a:hover {
    color: #88ac6b;
    text-shadow: 0 0 1px #88ac6b, 0 0 1px #88ac6b;
}