<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8"/>
    <title>Admin page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/adminPage.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/toastr/toastr.min.css}" type="text/css"/>
</head>
<body>
<div class="header">
    <p>
        Hi, <span th:text="${loginedUser.username}">user</span>
    </p>
    <a th:href="@{/}">Home page</a>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Log out"/>
    </form>
</div>

<h2 class="table_title">All users:</h2>

<a th:href="@{/admin/addUser}" class="add_user_btn">Add user</a>

<table class="table">
    <tr>
        <th class="table_header"><a
                th:href="@{/admin/users/{currentPage}(currentPage=${currentPage}, sortField='username', sortAsc=(${sortField} != 'username' ? 'true' : (${sortAsc} ? 'false' : 'true')))}"
                data-name="username">Username</a></th>
        <th class="table_header"><a
                th:href="@{/admin/users/{currentPage}(currentPage=${currentPage}, sortField='email', sortAsc=(${sortField} != 'email' ? 'true' : (${sortAsc} ? 'false' : 'true')))}"
                data-name="email">Email</a></th>
        <th class="table_header"><a
                th:href="@{/admin/users/{currentPage}(currentPage=${currentPage}, sortField='firstName', sortAsc=(${sortField} != 'firstName' ? 'true' : (${sortAsc} ? 'false' : 'true')))}"
                data-name="firstName">First name</a></th>
        <th class="table_header"><a
                th:href="@{/admin/users/{currentPage}(currentPage=${currentPage}, sortField='lastName', sortAsc=(${sortField} != 'lastName' ? 'true' : (${sortAsc} ? 'false' : 'true')))}"
                data-name="lastName">Last name</a></th>
        <th class="table_header"><a
                th:href="@{/admin/users/{currentPage}(currentPage=${currentPage}, sortField='roles', sortAsc=(${sortField} != 'roles' ? 'true' : (${sortAsc} ? 'false' : 'true')))}"
                data-name="roles">Roles</a></th>
        <th class="table_header">Enabled</th>
        <th class="table_header">Actions</th>
    </tr>
    <tr th:each="user : ${users}">
        <td class="cell" th:text="${user.username}">username</td>
        <td class="cell" th:text="${user.email}">email</td>
        <td class="cell" th:text="${user.firstName}">firstName</td>
        <td class="cell" th:text="${user.lastName}">lastName</td>
        <td class="cell roles_cell">
            <th:block th:each="role : ${user.roles}">
                <span th:text="${role.name}"></span><span>,</span>
            </th:block>
        </td>
        <td class="cell" th:switch="${user.enabled}">
            <span th:case="true" style="color: #088108">Enabled</span>
            <span th:case="false" style="color: #e91717">Disabled</span>
        </td>
        <td class="cell">
            <a th:href="@{/admin/{id}/edit(id=${user.id})}">Edit</a>
            <button class="deleteBtn" th:name="${user.id}">Delete</button>
        </td>
    </tr>
</table>

<div class="pagination">
    <a th:if="${currentPage > 1}" th:href="@{/admin/users/1(sortField=${sortField}, sortAsc=${sortAsc})}"
       class="page_link">&lt;&lt;</a>
    <a th:if="${currentPage > 1}"
       th:href="@{/admin/users/{previousPage}(previousPage=${currentPage} - 1, sortField=${sortField}, sortAsc=${sortAsc})}"
       class="page_link">&lt;</a>

    <th:block th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a th:if="${currentPage != i}" th:href="@{/admin/users/{i}(i=${i}, sortField=${sortField}, sortAsc=${sortAsc})}"
           th:text="${i}" class="page_link"></a>
        <span th:if="${currentPage == i}" th:text="${i}" class="page_link current_page"></span>
    </th:block>

    <a th:if="${currentPage < totalPages}"
       th:href="@{/admin/users/{nextPage}(nextPage=${currentPage} + 1, sortField=${sortField}, sortAsc=${sortAsc})}"
       class="page_link">&gt;</a>
    <a th:if="${currentPage < totalPages}"
       th:href="@{/admin/users/{lastPage}(lastPage=${totalPages}, sortField=${sortField}, sortAsc=${sortAsc})}"
       class="page_link">&gt;&gt;</a>

</div>

<div id="modal">
    <div class="modal_block">
        <p>Are you sure?</p>
        <div class="buttons">
            <button class="modal_btn">No</button>
            <form id="delete_form" method="POST">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <input type="submit" value="Yes" class="modal_btn modal_yesBtn"/>
            </form>
        </div>
        <button class="modal_close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"
                      fill="#18171A"></path>
            </svg>
        </button>
    </div>
</div>

<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/toastr/toastr.min.js}"></script>
<script th:src="@{/js/toastr/toastrConfig.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        var action = /*[[${action}]]*/ '';
        if (action === 'successEdit') {
            toastr["success"]("User was updated successfully");
        } else if (action === 'successDelete') {
            toastr["success"]("User was deleted successfully");
        } else if (action === 'lastAdminInvalidEdit') {
            toastr["warning"]("Last enabled Admin can't change self role to non Admin", "Edit isn't possible");
        } else if (action === 'lastAdminInvalidDelete') {
            toastr["warning"]("Last Admin can't delete himself", "Delete isn't possible");
        } else if (action === 'lastAdminDisableSelf') {
            toastr["warning"]("Last enabled Admin can't disable himself", "Disable isn't possible");
        }
    });
</script>
</body>
</html>